body {
  font-size: .875rem;
}

#content {
  padding: 0 1.5rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding-bottom: 0;

  background-size: 1.1em;
  padding-left: 2em;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

/* .sidebar .nav-link.active {
  color: #007bff;
  font-weight: 800;
} */
/* 
.sidebar .nav-link:hover {
  color: #007bff;
} */

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar li>ul {
  font-size: 0.9em;
  padding-left: 1.2em;
}

.sidebar .nav-link.not-selected {
  pointer-events: none;
  opacity: 0.5;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px;
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }
}

#mail-content {
  padding: 1.5rem 0;
  margin-right: 0;
  margin-left: 0;
}

#mail-content .nav-tabs {
  margin-bottom: 1rem;
}

#mail-content blockquote {
  padding-left: 1.5em;
  border-left: 2px solid rgb(206, 206, 206);
}

ol.attachments {
  padding: 0 1em;
}

ul.folder-breadcrump {
  list-style: none;
  margin: 0;
}

ul.folder-breadcrump li {
  display: inline-block;
}

ul.folder-breadcrump li:after {
  content: ' > ';
}

ul.folder-breadcrump li:last-child:after {
  content: none;
}